@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *************** user-defined as shown below ****************** */
/* *************** start of layout ****************** */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Microsoft JhengHei", "微軟正黑體";
}

a {
  display: block;
  text-decoration: none;
}

/* *************** end of layout ****************** */
.wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.nav {
  -webkit-box-shadow: 0 2px 2px 2px #dbdbdb;
          box-shadow: 0 2px 2px 2px #dbdbdb;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f6f6f6;
  padding: 16px 20px 16px 0;
}

.nav-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-social a img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: 2px;
}

.nav-social a:nth-child(1) {
  color: #4460a0;
}

.nav-social a:nth-child(2) {
  color: #00aaec;
}

.nav-social a ~ a {
  margin-left: 16px;
}

.nav-social a:hover {
  color: red;
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header .logo a {
  width: 224px;
  height: 50px;
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

.nav-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
}

.nav-header-menu li ~ li {
  margin-left: 16px;
}

.nav-header-menu li a {
  padding: 18px 10px 15px 10px;
  color: #00cc99;
  border-bottom: 3px solid transparent;
}

.nav-header-menu li a:hover {
  border-bottom: 3px solid #00cc99;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 36px 0 15px 0;
}

.content-course {
  width: 30%;
  padding: 2%;
  border: solid #f1f1f1;
  border-width: 0 1px 1px 1px;
  -webkit-box-shadow: 0 2px 2px 2px #dbdbdb;
          box-shadow: 0 2px 2px 2px #dbdbdb;
}

.content-course .content-course-img {
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-course .content-course-img img {
  max-width: 100%;
  height: auto;
}

.content-course h2 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.content-course p {
  line-height: 22px;
}

.content-course ul {
  list-style-type: disc;
  list-style-position: outside;
}

.content-course ul li {
  margin: 8px 0 0 16px;
}

@media (max-width: 767px) {
  .nav-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-header .logo {
    margin: 20px auto;
  }
  .nav-header .nav-header-menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
  }
  .nav-header .nav-header-menu li {
    width: 50%;
    margin-left: 0;
    text-align: center;
  }
  .nav-header .nav-header-menu li a {
    padding: 18px 0 15px 0;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content-course {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

@media (max-width: 414px) {
  .nav-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-header .logo {
    margin: 20px auto;
  }
  .nav-header .nav-header-menu {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 0;
  }
  .nav-header .nav-header-menu li {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .nav-header .nav-header-menu li a {
    padding: 18px 0 15px 0;
  }
  .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content-course {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=all.css.map */